

.cont{ 
    height: 80px;
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    position: sticky;
    left: 0px;
    right: 0%;
    top: 0px;
    opacity: 1;

}